@page
@model mission9_hls68.Pages.CartModel
@{
}
<!-- create table to display cart info -->

<h2> Your Cart </h2>
<!-- Extra: added hover capability to table -->
<!-- Extra: added table active to table -->
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-active">
        <thead>
            <tr>
                <th>Item </th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.basket.Items)
            {
                <tr class="table-primary">
                    <td>@i.Books.Title</td>
                    <td>@i.Quantity</td>
                    <td>@i.Books.Price</td>
                    <td>@(i.Quantity*i.Books.Price)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total: </td>
                <td>@Model.basket.CalculateTotal().ToString("c")</td>
            </tr>
        </tfoot>


    </table>
</div>
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl"> Continue Shopping</a>
</div>
